@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* 
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
*/

body {
    font-size: 15px;
    margin: 0;
    
}
p {
    color:  hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 2;
    margin-bottom: 3em;
}
.title {
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.4rem;
    text-transform: uppercase;
}

.container {
    margin: 5.5em auto;
    width: 80%;
    border-radius: 20px;
}
.col {
    margin: 0;
    padding: 3em 4em;
    height: auto;
    
}

.sedans {
    background: hsl(31, 77%, 52%);
    border-radius: .5em .5em 0 0;
}
.suvs {
    background:hsl(184, 100%, 22%);
}
.luxury {
    background: hsl(179, 100%, 13%);
    border-radius: 0 0 .5em .5em ;
}
.sedans-btn {
    color: hsl(31, 77%, 52%);
}
.suvs-btn {
    color: hsl(184, 100%, 22%);
}
.luxury-btn {
    color: hsl(179, 100%, 13%);
}
.sedans-btn:hover {
    background: hsl(31, 77%, 52%);
    color: hsl(0, 0%, 95%);
}
.suvs-btn:hover {
    background:hsl(184, 100%, 22%);
    color: hsl(0, 0%, 95%);
}
.luxury-btn:hover {
    background: hsl(179, 100%, 13%);
    color: hsl(0, 0%, 95%);
}

.btn {
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    border: 2px solid hsl(0, 0%, 95%);
    background: hsl(0, 0%, 95%);
    padding: .7em 2em;
    margin-top: 20em;
    border-radius: 2em;
}

@media (min-width:375px) and (max-width: 1299px) {
    .container {
        max-width: 500px;

    }
}


@media (min-width:1300px) {
    .row {
        display: flex;
    }
    .container {
        width: 80%;
    }
    .sedans {
        border-radius: .5em 0 0 .5em;
    }
    .luxury {
        background: hsl(179, 100%, 13%);
        border-radius: 0 .5em .5em 0;
    }
    .col {
        padding: 3.5em 5em;
    }
    p{
        margin: 0 2em 5em 0;
    }
    
}

